# trunk-ignore-all(semgrep/yaml.github-actions.security.third-party-action-not-pinned-to-commit-sha.third-party-action-not-pinned-to-commit-sha)
name: PR Testing
run-name: PR Checks for ${{ github.ref_name }}
on:
  pull_request: {}
  push:
    branches:
      - trunk-merge/**

jobs:
  test:
    name: run tests to validate pr
    runs-on: public-amd64-small
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: trunk install
        uses: trunk-io/trunk-action/install@54ccfcf9add644a36a5aa1d0046c92f654ff9e45
        with:
          tools: gh

      - name: Determine is_merge
        id: check_is_merge
        run: |
          if [[ ${GITHUB_EVENT_NAME} == "push" && (${GITHUB_REF_NAME} == trunk-merge/* || ${GITHUB_REF_NAME} == trunk-merge-beta/*) ]]; then            
            echo "on_merge=true" >> $GITHUB_OUTPUT
          else
          echo "on_merge=false" >> $GITHUB_OUTPUT
          fi

      - name: run tests
        id: test
        run: |
          cargo test
        env:
          IS_MERGE: ${{ steps.check_is_merge.outputs.on_merge }}
